[Desktop Entry]
Version=1.0
Name=BlueShell
GenericName=Terminal
Comment=Container-native terminal powered by Ghostty
Type=Application
TryExec=ghostty
Exec=ghostty --gtk-single-instance=false
Icon=org.tunaos.BlueShell
Categories=System;TerminalEmulator;
Keywords=terminal;tty;pty;container;toolbox;distrobox;podman;
StartupNotify=true
StartupWMClass=org.tunaos.BlueShell
Terminal=false
Actions=new-window;
X-GNOME-UsesNotifications=true
X-TerminalArgExec=-e
X-TerminalArgTitle=--title=
X-TerminalArgAppId=--class=
X-TerminalArgDir=--working-directory=
X-TerminalArgHold=--wait-after-command
DBusActivatable=false

[Desktop Action new-window]
Name=New Window
Exec=ghostty --gtk-single-instance=false
